Package: com.roarijo89.sound
Name: soundcloud
Depends: mobilesubstrate,com.roarijo89.tools
Architecture: iphoneos-arm
Description: read Description
Maintainer: roarijo89
Author: roarijo89
Section: _Tweaks_
Depiction: https://roarijo89.github.io/roarijo89-Tweak/description.html?id=com.roarijo89.sound 
Version: 1.1
Installed-Size: 368
