Package: com.shibu.gridstyle
Name: gridstyle
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: スタイル変更
Maintainer: shibu
Author: shibu
Section: Tweaks
Version: 0.0.1-1+debug
Depiction: https://roarijo89.github.io/roarijo89-Tweak/description.html?id=com.shibu.gridstyle
Installed-Size: 132
