Package: com.180.instagram
Name: instagram rocket 
Author: stemgrade
Description: read Description
Depends: mobilesubstrate
Maintainer: roarijo89 Tweaks <roarijoa@gmail.com>
Architecture: iphoneos-arm
Section: stem_grade
Version: 0.0.2
Depiction: https://roarijo89.github.io/roarijo89-Tweak/description.html?id=com.180.instagram
