Package: tools
Name: Tools
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Try are tools u can manage are tweaks hacks 
Maintainer: roarijo89
Author: roarijo89
Section: tweaks
Version: 1.4
Installed-Size: 5572
