Package: com.roarijo89.tools
Name: tools
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Try are tools u can manage are tweaks hacks 
Maintainer: roarijo89
Author: roarijo89
Section: porn free
Version: 1.4-1+debug
Depiction: https://roarijo89.github.io/roarijo89-Tweak/description.html?id=com.roarijo89.tools
Installed-Size: 5572
