Package: com.Coco.icons
Essential: yes
Section: System
Maintainer: roarijo89
Architecture: iphoneos-arm
Version: 1.2
Description: Officials Coco Tweaks Repo Icons
Name: Coco Tweaks Repo Icons
Author: roarijo89
