Package: com.yourepo.testreporoa.icone
Essential: yes
Section: System
Maintainer: testreporoa
Architecture: iphoneos-arm
Version: 1.0
Description: Officials Testreporoa Repo Icons
Name: Testreporoa Repo Icons
Author: Testreporoa
