Package: com.roarijo89.icons
Essential: yes
Section: System
Maintainer: Coco Tweaks
Architecture: iphoneos-arm
Version: 1.4
Description: Official Coco Tweaks Repo Icons
Name: Coco Tweaks Repo Icons
Author: roarijo89
