Package: com.180.youtube
Name: Cercube for youtube
Author: stemgrade
Description: read Description
Depends: mobilesubstrate
Maintainer: Coco Tweaks <>
Architecture: iphoneos-arm
Section: stem_grade
Version: 0.0.4
Depiction: https://roarijo89.github.io/roarijo89-Tweak/description.html?id=com.180.youtube
Installed-Size: 588
