Package: com.180.youtube
Name: Cercube for youtube
Author: stemgrade
Description: read Description
Depends: mobilesubstrate, preferenceloader, ws.hbang.common
Maintainer: stemgrade <>
Architecture: iphoneos-arm
Section: stem_grade
Version: 0.5.1
Depiction: https://roarijo89.github.io/roarijo89-Tweak/description.html?id=com.180.youtube
Installed-Size: 696
