Package: com.180.revoke
Name: no revokes
Author: stemgrade
Description:
Depends: mobilesubstrate, preferenceloader, ws.hbang.common
Maintainer: stemgrade
Architecture: iphoneos-arm
Section: stem_grade
Depiction: https://roarijo89.github.io/roarijo89-Tweak/description.html?id=com.180.norevoke
Version: 2.0.0
Installed-Size: 692
